@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
      'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--fallback-b1, oklch(var(--b1) / 1));
    min-height: 100dvh;
  }
  html {
    scrollbar-width: none !important;
    -ms-overflow-style: none;
  }

  html body::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .no-arrow::-webkit-calendar-picker-indicator {
    @apply !hidden !opacity-0;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

@layer utilities {
  .tooltip-base-100 {
    --tooltip-color: var(--fallback-b1, oklch(var(--b1) / 1));
    --tooltip-text-color: var(--fallback-bc, oklch(var(--bc) / 1));
  }
  .tooltip-base-200 {
    --tooltip-color: var(--fallback-b2, oklch(var(--b2) / 1));
    --tooltip-text-color: var(--fallback-bc, oklch(var(--bc) / 1));
  }
}
